<html>
	<head>
		<title>Django - SPJA</title> 
	</head>

	<body>
		
		<!------- MENU ---------->
		<a href="../doktori"> Výpis všech doktorů </a> |
		<a href="../oddeleni"> Výpis všech oddělení </a> |
		<a href="../pacienti"> Výpis všech pacientů </a> |
		<a href="../oddeleni_pocet"> Počet doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_oddeleni"> Výpis všech pacientů a doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_doktora"> Výpis všech pacientů vybraného doktora </a> |
		<a href="../admin"> Administrační rozhraní </a>
		<!------- MENU ---------->
		
		<h1> Výpis všech pacientů a doktorů ve vybraném oddělení</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Vybrat">
		</form>
		
		Oddělení: <b>{{oddeleni}}</b><br /><br />

		{% for doktor in doktori %}
			{{doktor.titul}} {{doktor}} {{doktor.jmeno_doktora}} má pacienty: <br />
			{% for pacient in seznam_pacientu %}
				{% if pacient.doktor_id = doktor.id %}
					<b>{{pacient}}</b> <br />
				{% endif %}
			{% endfor %}<br />
		{% endfor %}
	</body>

</html>
