<html>
	<head>
		<title>SPJA - projekt Django</title> 
	</head>

	<body>
		
		<!----------------------- hodne kruty menu ----------------------->
		<select name = "d" onchange=location.href=this.options[this.selectedIndex].value>
			<option value="" selected="selected">MENU - stačí si jen zvolit</option>
			<option value="../admin">Administrační rozhraní</option>
			<option value="../tymy">Výpis všech týmů</option>
			<option value="../hraci">Výpis všech hráčů</option>
			<option value="../zapasy">Výpis všech zápasů</option>
			<option value="../hraci_tymu">Výpis všech hráčů zvoleného týmu</option>
			<option value="../zapasy_tymu">Výpis všech zápasů zvoleného týmu</option>
			<option value="../hraci_vek">Výpis hráču dle zadaného věkového rozhraní</option>
		</select>
		<!----------------------------- menu ----------------------------->
				
		<h1> Výpis všech hráčů ve zvoleném týmu</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Vybrat">
		</form>
		{% if tym %}
			<h2>{{ tym }} (<i>id: </i>{{ tym.id }})	</h2>	
			{% for hrac in hraci %}
			    <li><b>{{ hrac.prijmeni }}</b> {{hrac.jmeno}} (<i>id:</i> {{hrac.id}})<br /></li>
			    <ul><i>číslo dresu:</i> {{hrac.cislo_dresu}}<br />
			    <i>věk:</i> {{hrac.vek}} let<br /><br /></ul>
			{% endfor %}
		{% endif %}
		
	</body>

</html>
