<html>
	<head>
		<title>SPJA - projekt Django</title> 
	</head>

	<body>
		
		<!----------------------- hodne kruty menu ----------------------->
		<select name = "d" onchange=location.href=this.options[this.selectedIndex].value>
			<option value="" selected="selected">MENU - stačí si jen zvolit</option>
			<option value="../admin">Administrační rozhraní</option>
			<option value="../tymy">Výpis všech týmů</option>
			<option value="../hraci">Výpis všech hráčů</option>
			<option value="../zapasy">Výpis všech zápasů</option>
			<option value="../hraci_tymu">Výpis všech hráčů zvoleného týmu</option>
			<option value="../zapasy_tymu">Výpis všech zápasů zvoleného týmu</option>
			<option value="../hraci_vek">Výpis hráču dle zadaného věkového rozhraní</option>
		</select>
		<!----------------------------- menu ----------------------------->
				
		<h1> Výpis všech zápasů </h1>
		 {% for zapas in vsechny_zapasy %}
		     <li><b>{{ zapas }}</b><br />
		     <ul><i>domací:</i> {{zapas.domaci}} <br />
		     <i>hosté:</i> {{zapas.hoste}} <br />
			 <!-- pokud vitez zapasu neni null, pak: -->
		     {% if zapas.vitez %}
		     	<i>DOHRÁNO</i> <br />
				 <ul><i>vítěz:</i> <b>{{zapas.vitez}}</b> <br />
			 
			     {% if zapas.vysledek %}
				     <i>výsledek:</i> {{zapas.vysledek}}<br />
				 {% endif %}
				 </ul>
			 {% else %}
			 	<i>NEDOHRÁNO</i> <br />
			 {% endif %}
			 <!-- mezera na oddeleni jednotlivych zaznamu-->
		     </ul><br />
		 {% endfor %}
	</body>

</html>
