<html>
	<head>
		<title>SPJA - projekt Django</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<select name = "x" onchange=location.href=this.options[this.selectedIndex].value>
			<option value="" selected="selected">MENU - stačí si jen zvolit</option>
			<option value="../admin">Administrační rozhraní</option>
			<option value="../tymy">Výpis všech týmů</option>
			<option value="../hraci">Výpis všech hráčů</option>
			<option value="../zapasy">Výpis všech zápasů</option>
			<option value="../hraci_tymu">Výpis všech hráčů zvoleného týmu</option>
			<option value="../zapasy_tymu">Výpis všech zápasů zvoleného týmu</option>
			<option value="../hraci_vek">Výpis hráču dle zadaného věkového rozhraní</option>
		</select>
		<!----------------------------- menu ----------------------------->
		
		<h1> Výpis všech hráčů, kteří mají věk v intervalu zadaných hodnot</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Vybrat">
		</form>

		{% for hrac in hraci %}
		    <li><b>{{ hrac.prijmeni }}</b> {{hrac.jmeno}} (<i>id:</i> {{hrac.id}})<br /></li>
		    <ul><i>číslo dresu:</i> {{hrac.cislo_dresu}}<br />
		    <i>věk:</i> {{hrac.vek}} let<br />
		    <i>tým:</i> {{hrac.tym}} <br /><br /></ul>
		{% endfor %}
		

	</body>

</html>
