<html>
	<head>
		<title>SPJA - projekt Django</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<select name = "x" onchange=location.href=this.options[this.selectedIndex].value>
			<option value="" selected="selected">MENU - stačí si jen zvolit</option>
			<option value="../admin">Administrační rozhraní</option>
			<option value="../tymy">Výpis všech týmů</option>
			<option value="../hraci">Výpis všech hráčů</option>
			<option value="../zapasy">Výpis všech zápasů</option>
			<option value="../hraci_tymu">Výpis všech hráčů zvoleného týmu</option>
			<option value="../zapasy_tymu">Výpis všech zápasů zvoleného týmu</option>
			<option value="../hraci_vek">Výpis hráču dle zadaného věkového rozhraní</option>
		</select>
		<!----------------------------- menu ----------------------------->
		
		<h1> Výpis všech týmů</h1>
		 {% for tym in vsechny_tymy %}
		     <li><b>{{ tym }}</b> {{tym.nazev}} (<i>id:</i> {{tym.id}})<br />
		     <i>poradi tymu:</i> {{tym.poradi}}. <br />
		     <i>domovský stát:</i> {{tym.stat}} <br />
		     <i>hráči v týmu:</i> <br />
		     <!-- 
		     	urcite je nejaky lepsi reseni nez prochazet vsechny hrace, ale nevim jak pristupovat
		     	k jednotilvym oddelenim ve stylu slovniku klic-> hodnota, tak je vsechny prochazim a porovnavam
		     -->
		     <ul>
		     {% for hrac in vsichni_hraci %}
		     	{% if tym.id = hrac.tym_id %}
		     		{{ hrac.prijmeni }} {{ hrac.jmeno }} <br />
		     	{% endif %}
		     {% endfor %}
		     </ul>
		     <br />
		 {% endfor %}
	</body>

</html>
