<html>
	<head>
		<title>SPJA - projekt Django</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<select name = "x" onchange=location.href=this.options[this.selectedIndex].value>
			<option value="" selected="selected">MENU - stačí si jen zvolit</option>
			<option value="../admin">Administrační rozhraní</option>
			<option value="../tymy">Výpis všech týmů</option>
			<option value="../hraci">Výpis všech hráčů</option>
			<option value="../zapasy">Výpis všech zápasů</option>
			<option value="../hraci_tymu">Výpis všech hráčů zvoleného týmu</option>
			<option value="../zapasy_tymu">Výpis všech zápasů zvoleného týmu</option>
			<option value="../hraci_vek">Výpis hráču dle zadaného věkového rozhraní</option>
		</select>
		<!----------------------------- menu ----------------------------->
		
		<h1> Výpis všech zápasů ve zvoleném týmu</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Vybrat">
		</form>
		{% if tym %}
			<h2>{{ tym }} (<i>id: </i>{{ tym.id }})	</h2>
			<h3><u>Zápasy které se hrají na "domácí půdě":</u></h3>
			{% if zapasy_d %}
				{% for zapas in zapasy_d %}
				     <li><b>{{ zapas }}</b><br /></li>
				     <ul><i>domací:</i> {{zapas.domaci}} <br />
				     <i>hosté:</i> {{zapas.hoste}} <br />
					 <!-- pokud vitez zapasu neni null, pak: -->
				     {% if zapas.vitez %}
				     	<i>DOHRÁNO</i> <br />
						 <ul><i>vítěz:</i> <b>{{zapas.vitez}}</b> <br />
					 
					     {% if zapas.vysledek %}
						     <i>výsledek:</i> {{zapas.vysledek}}<br />
						 {% endif %}
						 </ul>
					 {% else %}
					 	<i>NEDOHRÁNO</i> <br />
					 {% endif %}
					 </ul>
				{% endfor %}
			{% else %}
				<ul><i>Žádné domácí zápasy v databázi</i></ul>
			{% endif %}
			
			<h3><u>Zápasy, které se hrají "venku":</u></h3>
			{% if zapasy_h %}
				{% for zapas in zapasy_h %}
				     <li><b>{{ zapas }}</b><br /></li>
				     <ul><i>domací:</i> {{zapas.domaci}} <br />
				     <i>hosté:</i> {{zapas.hoste}} <br />
					 <!-- pokud vitez zapasu neni null, pak: -->
				     {% if zapas.vitez %}
				     	<i>DOHRÁNO</i> <br />
						 <ul><i>vítěz:</i> <b>{{zapas.vitez}}</b> <br />
					 
					     {% if zapas.vysledek %}
						     <i>výsledek:</i> {{zapas.vysledek}}<br />
						 {% endif %}
						 </ul>
					 {% else %}
					 	<i>NEDOHRÁNO</i> <br />
					 {% endif %}
					 </ul>
				{% endfor %}
			{% else %}
				<ul><i>Žádné zápasy venku nejsou v databázi</i></ul>
			{% endif %}
		{% endif %}
	</body>

</html>
