<html>
	<head>
		<title>Django - SPJA</title> 
	</head>

	<body>
		
		<!------- MENU ---------->
		<a href="../doktori"> Výpis všech doktorů </a> |
		<a href="../oddeleni"> Výpis všech oddělení </a> |
		<a href="../pacienti"> Výpis všech pacientů </a> |
		<a href="../oddeleni_pocet"> Počet doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_oddeleni"> Výpis všech pacientů a doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_doktora"> Výpis všech pacientů vybraného doktora </a> |
		<a href="../admin"> Administrační rozhraní </a>
		<!------- MENU ---------->
		
		<h1> Výpis všech doktorů léčebny</h1>
		 {% for doktor in vsichni_doktori %}
		     <li><b>{{ doktor }}</b> {{doktor.jmeno_doktora}}, {{ doktor.titul }} <br />
		     id: {{doktor.id}}<br />
		     adresa doktora: {{doktor.adresa_doktora}}<br />
		     telefon doktora: {{doktor.tel_doktora}}<br />
		     <!-- 
		     	urcite je nejaky lepsi reseni nez prochazet vsechna oddeleni, ale nevim jak pristupovat
		     	k jednotilvym oddelenim ve stylu slovniku klic-> hodnota, tak je vsechny prochazim a porovnavam
		     -->
		     {% for oddeleni in vsechna_oddeleni %}
		     	{% if oddeleni.id = doktor.oddeleni_id %}
		     		oddeleni: {{ oddeleni.jmeno_oddeleni }} <br /><br />
		     	{% endif %}
		     {% endfor %}
		     
		 {% endfor %}
	</body>

</html>
