<html>
	<head>
		<title>Django - SPJA</title> 
	</head>

	<body>
		
		<!------- MENU ---------->
		<a href="../doktori"> Výpis všech doktorů </a> |
		<a href="../oddeleni"> Výpis všech oddělení </a> |
		<a href="../pacienti"> Výpis všech pacientů </a> |
		<a href="../oddeleni_pocet"> Počet doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_oddeleni"> Výpis všech pacientů a doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_doktora"> Výpis všech pacientů vybraného doktora </a> |
		<a href="../admin"> Administrační rozhraní </a>
		<!------- MENU ---------->
		
		<h1> Počet doktorů ve vybraném oddělení</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Vybrat">
		</form>
		
		oddělení: <b>{{oddeleni}}</b>
		má {{pocet_doktoru}}
			{% if pocet_doktoru = 1%}
				doktora.
			{% elif pocet_doktoru = 2 or pocet_doktoru = 3 or pocet_doktoru = 4%}
				doktory.
			{% else %}
				doktorů.
			{% endif %}<br /><br />
		Doktoři:<br />
		{% for doktor in doktori %}
			{{doktor.titul}} {{doktor}} {{doktor.jmeno_doktora}}<br />
		{% endfor %}
	</body>

</html>
