<html>
	<head>
		<title>Django - SPJA</title> 
	</head>

	<body>
		
		<!------- MENU ---------->
		<a href="../doktori"> Výpis všech doktorů </a> |
		<a href="../oddeleni"> Výpis všech oddělení </a> |
		<a href="../pacienti"> Výpis všech pacientů </a> |
		<a href="../oddeleni_pocet"> Počet doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_oddeleni"> Výpis všech pacientů a doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_doktora"> Výpis všech pacientů vybraného doktora </a> |
		<a href="../admin"> Administrační rozhraní </a>
		<!------- MENU ---------->
				
		<h1> Výpis všech oddělení léčebny</h1>
		 {% for oddeleni in vsechna_oddeleni %}
		     <li><b>{{ oddeleni }}</b><br />
		     id: {{oddeleni.id}}<br />
		     mistnost: {{oddeleni.mistnost}}<br />
		     telefon:{{oddeleni.tel_oddeleni}}<br /><br />
		 {% endfor %}
	</body>

</html>
