<html>
	<head>
		<title>Django - SPJA</title> 
	</head>

	<body>
		
		<!------- MENU ---------->
		<a href="../doktori"> Výpis všech doktorů </a> |
		<a href="../oddeleni"> Výpis všech oddělení </a> |
		<a href="../pacienti"> Výpis všech pacientů </a> |
		<a href="../oddeleni_pocet"> Počet doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_oddeleni"> Výpis všech pacientů a doktorů ve vybraném oddělení </a> |
		<a href="../pacienti_doktora"> Výpis všech pacientů vybraného doktora </a> |
		<a href="../admin"> Administrační rozhraní </a>
		<!------- MENU ---------->
				
		<h1> Výpis všech pacientů léčebny</h1>
		 {% for pacient in vsichni_pacienti %}
		     <li><b>{{ pacient }}</b> {{pacient.jmeno_pacienta}}<br />
		     id: {{pacient.id}}<br />
		     adresa pacienta: {{pacient.adresa_pacienta}}<br />
		     telefon pacienta: {{pacient.tel_pacienta}}<br />
		     <!-- 
		     	urcite je nejaky lepsi reseni nez prochazet vsechny doktory, ale nevim jak pristupovat
		     	k jednotilvym doktorum ve stylu slovniku klic-> hodnota, tak je vsechny prochazim a porovnavam
		     -->
		     {% for doktor in vsichni_doktori %}
		     	{% if doktor.id = pacient.doktor_id %}
		     		jmeno doktora: {{ doktor.titul }} {{ doktor.jmeno_doktora }} {{ doktor.prijmeni_doktora }}<br />
		     	{% endif %}
		     {% endfor %}
		     <!-- pokud telefon opatrovnika neni 0, pak: -->
		     {% if pacient.tel_opatrovnika %}
		     jmeno opatrovnika: {{pacient.jmeno_opatrovnika}}<br />
		     telefon opatrovnika: {{pacient.tel_opatrovnika}}<br />
		     {% endif %}
		     <br />
		 {% endfor %}
	</body>

</html>
