<html>
	<head>
		<title>Django - SPJA - Zkousky</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<a href="../admin">admin</a> |
		<a href="../zkousky">Výpis všech zkoušek</a> |
		<a href="../ucitele">Výpis všech učitelů</a> |
		<a href="../predmety">Výpis všech předmětů</a> |
		<a href="../garanti">Výpis všech garantů</a> |
		<a href="../ucitele_predmetu">Výpis všech učitelů učících vybraný předmět</a> |
		<a href="../zkousky_predmetu">Výpis všech zkoušek vybraného předmětu</a>     
		<!----------------------------- menu ----------------------------->
						
		<h1> Výpis všech předmětů</h1>
		 {% for predmet in pr %}
		     <li><b>{{ predmet.zkratka }}</b> - {{ predmet.nazev }}</li>
		     <ul>
		     	<i>kreditů:</i> {{predmet.kredity}}<br />
		     	Termíny zkoušek:<br />
			     	<i>1. :</i> {{predmet.prvni_termin}}<br />
			     	<i>2. :</i> {{predmet.druhy_termin}}<br />
			     	<i>3. :</i> {{predmet.treti_termin}}<br />
		     	<i>Garant předmětu:</i> {{predmet.garant}}<br /><br />
		     </ul>
		 {% endfor %}
	</body>

</html>
