<html>
	<head>
		<title>Django - SPJA - Zkousky</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<a href="../admin">admin</a> |
		<a href="../zkousky">Výpis všech zkoušek</a> |
		<a href="../ucitele">Výpis všech učitelů</a> |
		<a href="../predmety">Výpis všech předmětů</a> |
		<a href="../garanti">Výpis všech garantů</a> |
		<a href="../ucitele_predmetu">Výpis všech učitelů učících vybraný předmět</a> |
		<a href="../zkousky_predmetu">Výpis všech zkoušek vybraného předmětu</a>     
		<!----------------------------- menu ----------------------------->
						
		<h1> Výpis všech učitelů</h1>
		 {% for ucitel in uc %}
		     <li><b>{{ ucitel.prijmeni }}</b> {{ ucitel.jmeno }}<br /></li>
		     <ul>
		     	<i>login:</i> {{ucitel.login}}<br />
		     	<i>email:</i> {{ucitel.email}}<br />
		     	<i>učí:</i> {{ucitel.predmet}}<br /><br />
		     </ul>
		 {% endfor %}
	</body>

</html>