<html>
	<head>
		<title>Django - SPJA - Zkousky</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<a href="../admin">admin</a> |
		<a href="../zkousky">Výpis všech zkoušek</a> |
		<a href="../ucitele">Výpis všech učitelů</a> |
		<a href="../predmety">Výpis všech předmětů</a> |
		<a href="../garanti">Výpis všech garantů</a> |
		<a href="../ucitele_predmetu">Výpis všech učitelů učících vybraný předmět</a> |
		<a href="../zkousky_predmetu">Výpis všech zkoušek vybraného předmětu</a>     
		<!----------------------------- menu ----------------------------->
				
		<h1> Výpis zkoušek vybraného předmětu</h1>
		
		<form action="" method="post"> {% csrf_token %}
    		{{ formular }}
    		<input type="submit" value="Zvolit">
		</form>
		{% if predmet %}
			<h2> {{ predmet }} </h2>	
			{% for zkouska in zkousky %}
			    <li><b>{{ zkouska.datum }}</b><br /></li>
			    <ul>
			     	<i>mistnost:</i> {{zkouska.mistnost}}<br />
			     	<i>kapacita:</i> {{zkouska.kapacita}}<br /><br />
			    </ul>
			{% endfor %}
		{% endif %}
		
	</body>

</html>
