<html>
	<head>
		<title>Django - SPJA - Zkousky</title> 
	</head>

	<body>
		
		<!----------------------------- menu ----------------------------->
		<a href="../admin">admin</a> |
		<a href="../zkousky">Výpis všech zkoušek</a> |
		<a href="../ucitele">Výpis všech učitelů</a> |
		<a href="../predmety">Výpis všech předmětů</a> |
		<a href="../garanti">Výpis všech garantů</a> |
		<a href="../ucitele_predmetu">Výpis všech učitelů učících vybraný předmět</a> |
		<a href="../zkousky_predmetu">Výpis všech zkoušek vybraného předmětu</a>     
		<!----------------------------- menu ----------------------------->
						
		<h1> Výpis všech zkoušek</h1>
		 {% for zkouska in zk %}
		     <li><b>{{ zkouska.datum }}</b><br /></li>
		     <ul>
		     	<i>mistnost:</i> {{zkouska.mistnost}}<br />
		     	<i>kapacita:</i> {{zkouska.kapacita}}<br /><br />
		     </ul>
		 {% endfor %}
	</body>

</html>
