<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<a href = ..>Domů</a>
		<h1>Autoři</h1>
		
		<ul>
			{% for autor in seznam_autoru %}
			     <li><dt><b>{{ autor }}</b> {{autor.jmeno}}</dt></li>
			     <i>rok narozeni:</i> {{autor.rok_narozeni}}<br />
			     {% if autor.rok_umrti != 0 %}
			     	<i>rok umrti:</i> {{autor.rok_umrti}}<br />
			     {% endif %}
			     <i>národnost:</i>{{ autor.narodnost }}<br />
			     <i>díla autora:</i>
			     <br />
			     {% for titul in seznam_titulu %}
			     	{% if autor == titul.autor %}
			     		<dd>{{ titul }}</dd>
			     	{% endif %}
			     {% endfor %}
			     <br />
			{% endfor %}
		</ul>
	</body>

</html>
