<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<a href = ..>Domů</a>
		<h1>Dodavatelé</h1>
		
		<ul>
			{% for dodavatel in seznam_dodavatelu %}
			     <li><dt><b>{{ dodavatel }}</b></dt></li>
			     <i>adresa:</i> {{dodavatel.adresa}}<br />
			     <i>telefon:</i> {{dodavatel.telefon}}<br />
			     <i>dodává:</i><br />
			     {% for titul in seznam_titulu %}
			     	{% if dodavatel == titul.dodavatel %}
			     		<dd>{{ titul }}</dd>
			     	{% endif %}
			     {% endfor %}
			     <br />
			{% endfor %}
		</ul>
	</body>

</html>
