<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<a href = ..>Domů</a>
		<h1>Změna dodavatele</h1>
		
		<ul>
		     <li><dt><b>{{ dodavatel }}</b></dt></li>
		     
		     <form action="" method="post"> {% csrf_token %}
    			{{ dod_form }}
    			<input type="submit" value="Zmenit">
			 </form>
		     
		     	
		     <i>adresa:</i> {{ dodavatel.adresa }}<br />
		     <i>telefon:</i> 
						     {% if tel == 0 %}
					     		Zadej telefonni cislo ve spravnem tvaru - 9 cisel
					     	 {% else %}
					     	 	{{ dodavatel.telefon }}
					     	 {% endif %}<br />
		     <i>dodává:</i><br />
		     {% for titul in seznam_titulu %}
		     	{% if dodavatel == titul.dodavatel %}
		     		<dd>{{ titul }}</dd>
		     	{% endif %}
		     {% endfor %}
		     <br />
		</ul>
	</body>

</html>
