<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<h1>Úvodní strana skladu s knihami</h1>
		
		<ul>
			<li><a href = tituly>Výpis všech titulů v databázi</a></li>
			<li><a href = dodavatele>Výpis všech dodavatelů v databázi</a></li>
			<li><a href = autori>Výpis všech autorů v databázi</a></li>
			<li><a href = titul_zanr>Vyhledávání titulů podle žánru</a></li>
			<li><a href = autor>Vyhledávání detailů autora podle jména</a></li>
			<li>Změna údajů dodavatele:
				<select name = "d" onchange=location.href=this.options[this.selectedIndex].value>
					<option value>vyberte dodavatele</option>
					{% for dodavatel in seznam_dodavatelu %}
						<option value=dodavatele/{{dodavatel.id}}>{{dodavatel.id}} ({{ dodavatel }})</option>
					{% endfor %}
				</select>
			<li><a href = admin>Administrační rozhraní</a></li>
		</ul>
	</body>

</html>
