<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<a href = ..>Domů</a>
		<h1>Vyhledávání titulů podle žánru</h1>

		<ul>
			<form action="{% url sklad_knih.modely.views.titul_zanr %}" method="post"> {% csrf_token %}
    			{{ z }}
    			<input type="submit" value="Hledat">
			</form>
			{% for titul in seznam_titulu %}
			    <li><b>{{ titul }}</b> - {{titul.autor.jmeno}} {{titul.autor}}</li>
			{% endfor %}
		</ul>
		

	</body>

</html>
