<html>
	<head>
		<title>J. Znoj - SPJA, django project</title> 
	</head>

	<body>
		<a href = ..>Domů</a>
		<!-- menu 		
		<a href = ../tituly>Výpis všech titulů v databázi</a> | 
		<a href = ../dodavatele>Výpis všech dodavatelů v databázi</a> | 
		<a href = ../autori>Výpis všech autorů v databázi</a> | 
		<a href = ../titul_zanr>Vyhledávání titulů podle žánru</a> | 
		<a href = ../autor>Vyhledávání detailů autora podle jména</a> |
		Změna údajů dodavatele:
		<select name = "d" onchange=location.href="..".options[this.selectedIndex].value>
			<option value>vyberte dodavatele</option>
			{% for dodavatel in seznam_dodavatelu %}
				<option value=dodavatele/{{dodavatel.id}}>{{dodavatel.id}} ({{ dodavatel }})</option>
			{% endfor %}
		</select> | 
		<a href = a../dmin>Administrační rozhraní</a>
		 konec menu -->
		
		<h1>Tituly</h1>
		
		<ul>
			{% for titul in seznam_titulu %}
			    <li><b>{{ titul }}</b> - {{titul.autor.jmeno}} {{titul.autor}}</li>
			    <i>rok vydání:</i> {{titul.rok}} <br />
			    <i>počet objednaných kusů:</i> {{titul.kusu}} <br />
			    <i>žánr:</i> {{titul.zanr}} <br />
			    <i>nakladatelství:</i> {{titul.kusu}} <br />
			    <i>dodavatel:</i> {{titul.dodavatel}} <br /><br />
			{% endfor %}
		</ul>
	</body>

</html>
